@forward "images";
@forward "icones";
*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
body{
    background-color: rgba(172, 169, 163, 0.807);
}
header{
    position:fixed;
    top: 0%;
    width: 100%;
    background:white;
    display: flex;
    justify-content:space-between;
ul{
    margin: 10px;
    display: flex;
    gap: 20px;  
}
h1{
    
   
    width: 30%;
    text-align: right;
    
    
}
div{
    margin: 10px;
}
}
.text{
    display: flex;
    gap: 150px;
    margin: 45px;
}

.weekly_display{
    margin-right: auto;
    margin-left: auto;
    background: rgba(255, 255, 255, 0.438);
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    width: 90%;
    margin-top: 80px;
    nav{
        img{
            object-fit: cover ;
            width: 350px;
            height: 300px;
        }
        height: 300px;
        margin-top: auto;
        margin-bottom: auto;
        
        text-align:center;
        button{
            color: white;
            padding: 15px;
            border-radius: 10px;
            border: none;
            background: rgba(85, 79, 75, 0.723);
            margin-top: 75px;
            width: 95%;
        }
        .link{
            color: rgba(85, 79, 75, 0.723);
        }
    }

}
h3{
    margin: 45px;
    text-align: center;
}
.avantages{
    background: rgba(255, 255, 255, 0.438);
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    width: 90%;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}
footer{
    background:white;
    padding: 10px;
    text-align: center;
    h4{
        margin: 10px;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }
}